{% extends 'base.html' %} {% load static %} {% block content %}
<h1>LIST OF CROPS</h1>
<div class="container d-flex">
  <div class="card crop-card rounded m-4" style="width: 18rem">
    <img
      src="static/media/images/fresh-wheat-crop-500x500.jpg"
      class="card-img-top"
      alt="Wheat Image"
    />
    <div class="card-body">
      <h5 class="card-title">Wheat</h5>
      <p class="card-text">
        Wheat the most important crop in our Indian Economy.
      </p>
      <a href="#" class="btn btn-secondary">Bid on it!</a>
    </div>
  </div>
  <div class="card crop-card rounded m-4" style="width: 18rem">
    <img
      src="static/media/images/tomatoes.jpg"
      class="card-img-top"
      alt="Tomato Image"
    />
    <div class="card-body">
      <h5 class="card-title">Tomato</h5>
      <p class="card-text">
        Tomato, A Vegetable used in everyhousehold for cooking many Dishes
      </p>
      <a href="#" class="btn btn-secondary">Bid on it!</a>
    </div>
  </div>
  <div class="card crop-card rounded m-4" style="width: 18rem">
    <img
      src="static/media/images/fresh-wheat-crop-500x500.jpg"
      class="card-img-top"
      alt="Wheat Image"
    />
    <div class="card-body">
      <h5 class="card-title">Wheat</h5>
      <p class="card-text">
        Wheat the most important crop in our Indian Economy.
      </p>
      <a href="#" class="btn btn-secondary">Bid on it!</a>
    </div>
  </div>
  <div class="card crop-card rounded m-4" style="width: 18rem">
    <img
      src="static/media/images/tomatoes.jpg"
      class="card-img-top"
      alt="Tomato Image"
    />
    <div class="card-body">
      <h5 class="card-title">Tomato</h5>
      <p class="card-text">
        Tomato, A Vegetable used in everyhousehold for cooking many Dishes
      </p>
      <a href="#" class="btn btn-secondary">Bid on it!</a>
    </div>
  </div>
  {% endblock %}
</div>
