{% extends 'base.html' %} {% load static %} {% block content %}
<div class="d-flex justify-content-center align-content-center h-100">
  <form class="user-form" method="post" action="{% url 'user_register' %}" id="user_register">
    {% csrf_token %}
    <div class="row" style="margin-top:20px ;">
        <div class="form-group col-md-6">
          <label for="firstname">First Name:<span class="text-danger">*</span></label>
          <input
            type="text"
            name="firstName"
            class="form-control"
            id="firstname"
            placeholder="Your First Name"
          />
        </div>
        <div class="form-group col-md-6">
          <label for="lastname">Last Name<span class="text-danger">*</span></label>
          <input
            type="text"
            name="lastName"
            class="form-control"
            id="lastname"
            placeholder="Your Last Name"
          />
        </div>
    </div>

    <div class="form-group" style="margin-top:10px ;">
      <label for="mobile">Mobile No:<span class="text-danger">*</span></label>
      <input
        type="number"
        name="mobile"
        class="form-control"
        id="mobile"
        placeholder="Enter Your Number To Register"
      />
    </div>

    <div class="row" style="margin-top:10px ;">
        <div class="form-group col-md-6">
          <label for="password">Password:<span class="text-danger">*</span></label>
          <input
            type="password"
            name="password"
            class="form-control"
            id="password"
            placeholder="Enter a Strong Password"
          />
        </div>
        <div class="form-group col-md-6">
          <label for="confirmPassword">Confirm Password:<span class="text-danger">*</span></label>
          <input
            type="password"
            name="confirmPassword"
            class="form-control"
            id="confirmPassword"
            placeholder="Please confirm your password"
          />
        </div>
    </div>

    <div class="form-group justify-content-between" style="margin-top:10px ;">
      <label for="gender" class="col-md-12">Gender:<span class="text-danger">*</span></label>
      <div class="form-check">
          <label class="form-check-label" for="gender"> Male </label>
        <input
          class="form-check-input"
          type="radio"
          name="gender"
          id="maleRadio"
          value="male"
        />
      </div>
      <div class="form-check">
          <label class="form-check-label" for="gender"> Female </label>
        <input
          class="form-check-input"
          type="radio"
          name="gender"
          id="femaleRadio"
          value="female"
        />
      </div>
    </div>

    <div class="form-group" style="margin-top:10px ;">
        <label for="dob">Date of Birth:</label>
        <input type="date" name="dob" id="dob" />
    </div>

    <div class="form-group" style="margin-top:10px ;">
        <label for="address">Address:<span class="text-danger">*</span></label>
        <input
        class="form-control"
        type="text"
        name="address"
        id="address"
        placeholder="House No, Street, landmark"
        />
    </div>

    <div class="row">

        <div class="col-md-6">
            <label for="state">State<span class="text-danger">*</span></label>
            <select class="form-control" name="state" >
                <option value="">Select your state..</option>
                <option value="UttarPradesh">UttarPradesh</option>
                <option value="Rajasthan">Rajasthan</option>
              </select>
        </div>

        <div class="col-md-6">
            <label for="city">City<span class="text-danger">*</span></label>
            <input
            class="form-control"
            type="text"
            name="city"
            id="city"
            placeholder="District"
            />
        </div>
    </div>
    
    <div class="form-group justify-content-between" style="margin-top:10px ;" >
      <label class="col-md-12">What Role do you Wanna choose:<span class="text-danger">*</span></label>
      <div class="form-check">
          <label class="form-check-label" for="is_farmer"> Consumer </label>
        <input
          class="form-check-input"
          type="radio"
          name="is_farmer"
          value="0"
        />
      </div>
      <div class="form-check">
          <label class="form-check-label" for="is_farmer"> Farmer </label>
        <input
          class="form-check-input"
          type="radio"
          name="is_farmer"
          value="1"
        />
      </div>
    </div>
    <!-- TODO: the checkbox ui -->
      <!-- <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1" />
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div> -->
    <button type="submit" class="m-3 btn btn-primary nopad">Submit</button>
  </form>
</div>

    {% endblock %} {% block js%}
    <script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"
    integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
    ></script>
    <script type="text/javascript" src="/static/js/common.js" ></script>
    <script type="text/javascript" src="/static/js/register.js" ></script>
    {% endblock %}
</div>
